.box1 {
	border: 1px solid #000;
	width: 350px;
	height: 80px;
	transition: 2.5s;
}

.box1:hover {
	background-color: red;
}

.box2 {
	border: 1px solid #000;
	width: 350px;
	height: 80px;
	transition: 1s;
	color:#000;
}

.box2 span {
	transition: 0.1s;
}

.box2:hover {
	color: white;
	background-color: red;
}

.box3 {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	transition: 1.5s;
}

.box3:hover {
	width: 100%;
}

.box4 {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	transition: 1.5s;
}

.box4 span {
	transition: 0.1s;
}

.box4:hover {
	width: 100%;
	font-size: 20px;
}

.box5 {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	text-align: center;
}

.box5 p {
	transition: 1s;
	transform: translateX(2000px);
}

.box5:hover p {
	transform: translateX(0px);
}

.box6 input {
	transition: 2s;
	width: 200px;
}

.box6 input:focus  {
	width: 350px;
}

.box7 {
	width: 100%;
}

.box7:hover div  {
	width: 100%;
}

.box7-1 {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	text-align: center;
	transition: 2s;
	transition-timing-function: steps(6)
}

.box7-2 {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	text-align: center;
	transition: 2s;
	transition-timing-function: steps(4)
}

.box8:hover .box8-1 {
	width: 100%;
}

.box8 {
	border: 1px solid #000;
	width: 600px;
	height: 40px;
}

.box8-1 {
	transition: 3s;
	width: 0px;
	height: 40px;
	background-color: red;
}



